body, p {
	background-color: #f3f;
	margin: 0;
	padding: 0;
	color: #a7a7a7;
	font-family: "Neuton";
	font-size: 14px;
	line-height: 22px;
}
* {
	box-sizing: border-box;
}

/* 1. FONTS*/
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
	url("../webfonts/open-sans-v17-latin-600.woff2") format("woff2"), 
	url("../webfonts/open-sans-v17-latin-600.woff") format("woff"); 
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"),
	url("../webfonts/open-sans-v17-latin-700.woff2") format("woff2"),
	url("../webfonts/open-sans-v17-latin-700.woff") format("woff"); 
}
@font-face {
	font-family: "Neuton";
	font-style: normal;
	font-weight: 400;
	src: url("../webfonts/neuton-v12-latin-regular.eot");
	src: local("Neuton Regular"), local("Neuton-Regular"),
	url("../webfonts/neuton-v12-latin-regular.eot?#iefix") format("embedded-opentype"), 
	url("../webfonts/neuton-v12-latin-regular.woff2") format("woff2"),
	url("../webfonts/neuton-v12-latin-regular.woff") format("woff"),
	url("../webfonts/neuton-v12-latin-regular.ttf") format("truetype"), 
	url("../webfonts/neuton-v12-latin-regular.svg#Neuton") format("svg");
}

/*TOP-SECTION*/
.top-section{
	background-color: rgba(0,0,0,0.08);
}

/*CONTAINER*/
.container{
	width: 600px;
	margin: 0 auto;
	background-color: #000;
}
.container-color-white, p{
	background-color: #fff;
}

/*HEADER*/
.header{
	display: flex;
	flex-wrap: wrap;
}
.header h1{
	color: #fff;
	margin: 0;
	/*display: inline;*/
	font-family: "Open Sans";
	font-size: 42px;
	padding: 29px;
	padding-right: 205px;
}
.header h4{
	color: #b3b3b3;
	margin: 0;
	/*display: inline;*/
	font-family: "Neuton";
	font-size: 13px;
	float: right;
	padding-top: 48px;
	padding-right: 30px;
	padding-bottom: 30px;
}
.header span{
	color: #fff;
	font-family: "Neuton";
	font-size: 13px;
	padding-left: 7px;
}

/*DETAILS*/
.item-main-foto{
	width: 600px;
	height: 283.64px;
}
.detailes h1{
	font-family: "Open Sans";
	color: #343538;
	font-size: 18px;
	margin: 30px 0;
	margin-left: 31px;
}

.detailes p{
	color: #a7a7a7;
	font-family: "Neuton";
	font-size: 14px;
	line-height: 22px;
	margin-left: 31px;
	margin-bottom: 30px;
	background-color: #fff;
}

.detailes form{
	padding-left: 31px;
	padding-bottom: 30px;
}

.detailes-button{
	border: none;
	border-radius: 25px;
	background-color: #000;
	color: #fff;
	font-size: 14px;
	padding: 14px 30px;
}
.detailes-button:hover{
	outline: 0;
	background-color: #fff;
	border: 1px solid black;
	color: black;
	cursor: pointer;
}
.detailes-button:focus{
	background-color: #9c9898;
	outline: 0;
}

/*ITEM-FEATURES*/
.container-items{
	display: flex;
	margin: 15px 30px 30px 30px;
	padding: 30px 0;
}
.item1{
	text-align: center;
	margin-right: 60px;
}
.item1:last-child{
	margin-right: 0;
}
.item h3{
	font-family: "Open Sans";
	font-size: 18px;
}

/*LEFT-CONTENT*/
.container-left_content{
	display: flex;
	flex-wrap: wrap;
	margin-top: -15px;
}

.container-left_content__text{
	position: relative;
}

.container-left_content__logo{
	background-size: cover;
	background-repeat: no-repeat;
}

.left-content_tetx{
	position: absolute;
	top: 0;
	left: 30px;
	display: block;
	width: 34%;
}
.left-content_tetx h2{
	font-family: "Open Sans";
	font-size: 18px;
	color: #343538;
	margin: 40px 0 10px 0;
}

/*RIGHT-CONTENT*/
.right_content{
	display: flex;
	margin-top: 15px;
	position: relative;
}

.right_content__text{
	margin-left: 81px;
	padding: 40px 30px 90px 0;
	position: absolute;
	top: 0;
	left: 268px;
}
.right_content__text h2{
	font-family: "Open Sans";
	font-size: 18px;
	color: #343538;
	margin: 0;
}
.right_content__text p{
	padding-top: 25px;
}

/*OUR-WORK*/

.our_work{
	margin-top: 15px;
}
.our_work__text{
	text-align: center;
}
.our_work__text h2{
	font-family: "Open Sans";
	font-size: 18px;
	color: #343538;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 25px;

}
.our_work__text p{
	padding-bottom: 30px;	
}

.our_work__images{
	display: flex;
	flex-wrap: wrap;
}

/*ADD SPACE*/
.item_space{
	background-color: #343538;
	text-align: center;
	padding: 40px 0;
	height: 120px;
	margin-top: 15px;
}

.item_space h1{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	margin: 0;

}
.item_space h2{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	margin: 0;
	padding-top: 15px;
}

/*CONTENT_ONLY*/
.content_only{
	margin-top: 15px;
	height: 164px;
}
.content_only h1{
	font-family: "Open Sans";
	color: #343538;
	font-size: 18px;
	margin: 0;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 25px;
}

.content_only p{
	padding-left: 30px;
	padding-bottom: 35px;
}

/*HISTORY*/
.history{
	margin-top: 15px;
	position: relative;
}
.history_text{
	position: absolute;
	top: 0;
	left: 144px
	/*left: 140px;*/
	text-align: center;
}
.history_text h1{
	font-family: "Open Sans";
	color: #343538;
	font-size: 18px;
	margin: 0;
	padding-top: 30px;
}
.history_text p{
	padding-top: 25px;
	padding-bottom: 27px;
}